<!DOCTYPE html>
<html lang="en">
<head>
    <title>food shop</title>

  <style media="screen">
  @media screen and (max-width: 768px) {
    .logout-submit{
      float:right;
      margin: 14px 6px 0 0;
    }
  }
    .logout-submit{
      float:right;
      margin: 14px 13px 0 0;
    }
  </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">
    {% block head %}
    {% endblock %}
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation" >
        <div class="container">
          {% block data %}{% endblock %}
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'shop:dashboard' %}">food shop</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
