{% extends "shop/base.html" %}
{% block data %}
<a href="{% url 'shop:logout' %}"class="logout-submit">logout</a>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Profile</div>
        <div class="panel-body">
          {% if error_message %}
              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
          {% endif %}
          <div class="col-md-12 col-md-offset-0">
            <table class="table">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td>{{user.first_name}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{user.last_name}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <td>Phone Number</td>
                  <td>{{user.phone_number}}</td>
                </tr>
              </tbody>
            </table>
            <a href="{% url 'shop:profile' %}">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Chose Shop By City Name</div>
        <div class="panel-body">
          {% if error_message %}
              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
          {% endif %}
          <div class="col-md-12 col-md-offset-0">
            <table class="table">
              <tbody>
                <tr>
                  <th>Cities</th>
                </tr>
                {% for city in cities %}
                <tr>
                  <td><a href="{% url 'shop:shops_city' city.id %}">{{city.name}}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <form action="{% url 'shop:shops_location' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Find Shops by location</div>
                <div class="panel-body">
                    <div class="form-group clearfix">
                        <label class="col-md-4 control-label text-right">Geo X</label>
                        <div class="col-md-6">
                            <input type="text" name="geo_x" value="">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-4 control-label text-right">Geo Y</label>
                        <div class="col-md-6">
                            <input type="text" name="geo_y" value="">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="Find" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
