{% extends "shop/base.html" %}
{% block data %}
<a href="{% url 'shop:logout' %}"class="logout-submit">logout</a>
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'shop:finalize' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Finalize</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}

                    <div class="form-group clearfix">
                      <label class="col-md-4 control-label text-right">Address</label>
                          <select class="col-md-4 col-md-offset-0" name="address_id">
                            {% for address in addresses %}
                              <option value="{{address.id}}">{{address.text}}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-4 control-label text-right">Discount Code</label>
                        <div class="col-md-6">
                            <input type="text" name="discount_code" value="">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="BUY" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Foods</div>
        <div class="panel-body">
          <div class="col-md-12 col-md-offset-0">
            <table class="table">
              <tbody>
                {% for food in foods %}
                <tr>
                  <td>{{food.name}}</td>
                  <td>{{food.discounted_price}}</td>
                  <td>{{food.count}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
