{% extends "shop/base.html" %}

{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">{{shop.name}}</div>
        <div class="panel-body">
          {% if error_message %}
              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
          {% endif %}
          <div class="col-md-12 col-md-offset-0">
            <a href="{% url 'shop:finalize' %}">Finilize</a>
            <table class="table">
              <tbody>
                <tr>
                  <th>Food Name</th>
                  <th>Food Category</th>
                  <th>Food Real Price</th>
                  <th>Food Discounted Price</th>
                  <th>Buy Options</th>
                </tr>
                {% for food in foods %}
                <tr>
                  <td>{{food.name}}</td>
                  <td>{{food.cat_id}}</td>
                  <td style="color:red">{{food.discounted_price}}$</td>
                  <td>{{food.price}}$</td>
                  <th><form action="{% url 'shop:shop' shop.id %}" method="post"><input hidden value="1" name="count"><input hidden name="food_id" value="{{food.id}}">{%csrf_token%}<input type="submit" name="" value="+"></form>
                  {%if food.count%}
                  <p>{{food.count}}</p>
                  <form action="{% url 'shop:shop' shop.id %}" method="post"><input hidden value="-1" name="count"><input hidden name="food_id" value="{{food.id}}">{%csrf_token%}<input type="submit" name="" value="-"></form></th>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
